
    <footer class="footer bg-blue-color text-white pt-5">

<div class="container">

<div class="row gy-4">

<!-- About -->
<div class="col-md-3 col-lg-3 col-12">
<h5 class=" syne-font display-5 text-center " style="cursor: pointer;">Jobs<span class="text-cyan-color">Hunt</span></h5>
<p class="inter-font text-center">Connecting talent with opportunity. Find your dream job with ease.</p>
<div class="social text-center">
<i class="bi bi-facebook mx-2"></i>
<i class="bi bi-twitter mx-2"></i>
<i class="bi bi-linkedin mx-2"></i>
<i class="bi bi-instagram mx-2"></i>
</div>
</div>

<!-- Quick Links -->
<div class="col-md-3  col-lg-3 col-6">
<h6 class=" syne-font  fs-3">Quick Links</h6>
<ul class="list-unstyled">
<li class="pb-2"><a href="/index.html">Home</a></li>
<li class="pb-2"><a href="/jobs.html">Jobs</a></li>
<li class="pb-2"><a href="/#companies">Companies</a></li>
<li class="pb-2"><a href="/blog.html">Blog</a></li>
</ul>
</div>

<!-- Job Seekers -->
<div class="col-md-3  col-lg-3 col-6">
<h6 class=" syne-font fs-3">Job Seekers</h6>
<ul class="list-unstyled ">
<li class="pb-2"><a href="#">Create Profile</a></li>
<li class="pb-2"><a href="#">Search Jobs</a></li>
<li class="pb-2"><a href="#">Upload Resume</a></li>
<li class="pb-2"><a href="#">Career Tips</a></li>
</ul>
</div>

<!-- Contact -->
<div class="col-md-3  col-lg-3 col-12">
<h6 class="syne-font  fs-3">Contact Us</h6>
<p><i class="bi bi-geo-alt"></i> Lucknow,India</p>
<p><i class="bi bi-envelope"></i> support@jobshunt.com</p>
<p><i class="bi bi-telephone"></i> +0522 4783890232</p>
</div>

</div>

<hr class="my-4">

<div class="text-center pb-3">
© 2026 JobsHunt. All rights reserved.
</div>

</div>

</footer>