

<header>
<nav class="navbar navbar-expand-lg bg-brown-color shadow-sm">
  <div class="container-fluid">

    <!-- LOGO -->
    <a class="navbar-brand mx-auto" href="recruiterIndex.html">
      <img src="/assets/images/Adobe Express - file.png" class="img-fluid header-logo" alt="">
    </a>

    <!-- TOGGLER -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#recruiterNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV LINKS -->
    <div class="collapse navbar-collapse" id="recruiterNavbar">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        <li class="nav-item me-3">
          <a class="nav-link fs-6 syne-font active" href="/recruiter/recruiterLoginForm.html">Dashboard</a>
        </li>

        <li class="nav-item me-3">
          <a class="nav-link active fs-6 syne-font" href="/recruiter/recruiterLoginForm.html">Post Job</a>
        </li>

        <li class="nav-item me-3">
          <a class="nav-link active fs-6 syne-font" href="/recruiter/recruiterLoginForm.html">Manage Jobs</a>
        </li>

        <!-- <li class="nav-item me-3">
          <a class="nav-link fs-6 syne-font  active" href="/candidates.html">Candidates</a>
        </li>

        <li class="nav-item me-3">
          <a class="nav-link fs-6 syne-font  active" href="pricing.html">Plans</a>
        </li> -->

      </ul>
    </div>

    <!-- ACTION BUTTONS -->
    <div class="d-flex align-items-center gap-2">

      <!-- <a href="/recruiter/jobPost.html">
        <button class="my-btn">POST A JOB</button>
      </a> -->

      <a href="/recruiter/recruiterLoginForm.html">
        <button class="my-btn">LOGIN</button>
      </a>

      <!-- SWITCH TO JOB SEEKER -->
      <a href="/index.html">
        <button class="button my-auto">
          <span class="button_lg d-flex rounded-2">
            <span class="button_sl"></span>
            <span class="button_text">For Job Seeker</span>
          </span>
        </button>
      </a>

    </div>

  </div>
</nav>
</header>


