<footer class="footer bg-blue-color text-white pt-5">

<div class="container">
<div class="row gy-4">

<!-- About -->
<div class="col-md-3 col-lg-3 col-12">
<h5 class="syne-font display-5 text-center" style="cursor: pointer;">
Jobs<span class="text-cyan-color">Hunt</span>
</h5>
<p class="inter-font text-center">
Hire top talent quickly and efficiently. Find the perfect candidate for your company.
</p>
<div class="social text-center">
<i class="bi bi-facebook mx-2"></i>
<i class="bi bi-twitter mx-2"></i>
<i class="bi bi-linkedin mx-2"></i>
<i class="bi bi-instagram mx-2"></i>
</div>
</div>

<!-- Quick Links -->
<div class="col-md-3 col-lg-3 col-6">
<h6 class="syne-font fs-3">Quick Links</h6>
<ul class="list-unstyled">
<li class="pb-2"><a href="/recruiter-dashboard.html">Dashboard</a></li>
<li class="pb-2"><a href="/post-job.html">Post a Job</a></li>
<li class="pb-2"><a href="/manage-jobs.html">Manage Jobs</a></li>
<li class="pb-2"><a href="/applications.html">Applications</a></li>
</ul>
</div>

<!-- Recruiter Tools -->
<div class="col-md-3 col-lg-3 col-6">
<h6 class="syne-font fs-3">Recruiter Tools</h6>
<ul class="list-unstyled">
<li class="pb-2"><a href="#">Search Candidates</a></li>
<li class="pb-2"><a href="#">Shortlisted Profiles</a></li>
<li class="pb-2"><a href="#">Company Profile</a></li>
<li class="pb-2"><a href="#">Pricing Plans</a></li>
</ul>
</div>

<!-- Contact -->
<div class="col-md-3 col-lg-3 col-12">
<h6 class="syne-font fs-3">Contact Us</h6>
<p><i class="bi bi-geo-alt"></i> Lucknow, India</p>
<p><i class="bi bi-envelope"></i> recruiter@jobshunt.com</p>
<p><i class="bi bi-telephone"></i> +0522 4783890232</p>
</div>

</div>

<hr class="my-4">

<div class="text-center pb-3">
© 2026 JobsHunt Recruiter Panel. All rights reserved.
</div>

</div>

</footer>